.id-card-x {
    .text__main {
        color: $color-grey-1;
    }

    .capture__main_small {
        margin-left: rem(16px);
        color: $color-mineral-0;
    }

    .text__main_regular {
        color: $color-mineral-2;
    }

    .text__main_medium {
        color: $color-white;
    }

    & .title-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-left: rem(16px);
        margin-right: rem(16px);
    }

    &.card-x {
        &.gradient {
            padding: rem(16px) rem(4px) rem(4px) rem(4px);
        }
    }

    .card-x {
        &.grey {
            padding: rem(16px);
            margin-top: rem(16px);
            background: $color-grey-1;

            .row {
                justify-content: space-between;
            }

            &:first-of-type {
                border-radius: rem(12px) rem(12px) rem(4px) rem(4px);
            }

            &:last-of-type {
                margin-top: rem(1px);
                border-radius: rem(4px) rem(4px) rem(12px) rem(12px);
            }

            &:only-of-type {
                margin-top: rem(16px);
                border-radius: rem(12px);
            }
        }
    }
}
