.id-card-x {
    .text__main {
        color: $color-grey-1;
    }

    .text__main_regular {
        color: $color-mineral-2;
    }

    .text__main_medium {
        color: $color-white;
    }

    & .title-row {
        display: flex;
        gap: $semantic-gap-m;
        align-items: center;
        margin: 0 $semantic-gap-xl 0 $semantic-gap-l;

        .id-type {
            display: flex;
            background-color: $semantic-surface-inverse-primary-a10;
            border-radius: $semantic-radius-s;
            padding: $semantic-padding-s;

            svg {
                width: rem(20px);
                height: rem(20px);

                path {
                    fill: $semantic-content-inverse-primary;
                }
            }

            &:hover {
                background-color: $semantic-surface-inverse-primary-hover-a20;
            }

            .tooltip-x_text {
                left: rem(-6px);
                top: calc(100% + #{rem(13px)});

                &::after {
                    left: rem(16px);
                }
            }
        }

        .id-title {
            display: flex;
            flex-direction: column;
            width: rem(154px);

            &:last-child {
                width: auto;
            }

            .capture__main_small {
                white-space: break-spaces;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $color-mineral-0;
            }
        }

        .editable-name {
            display: flex;
            gap: rem(4px);
            margin-left: rem(-16px);
        }

        .button__ui-kit_primary {
            margin-left: auto;
            white-space: nowrap;
        }
    }

    &.card-x {
        &.gradient {
            padding: rem(16px) rem(4px) rem(4px) rem(4px);
        }
    }

    .card-x {
        &.grey {
            padding: rem(16px);
            margin-top: rem(16px);
            background: $color-grey-1;

            .row {
                justify-content: space-between;
            }

            &:first-of-type {
                border-radius: rem(12px) rem(12px) rem(4px) rem(4px);
            }

            &:last-of-type {
                margin-top: rem(1px);
                border-radius: rem(4px) rem(4px) rem(12px) rem(12px);
            }

            &:only-of-type {
                margin-top: rem(16px);
                border-radius: rem(12px);
            }
        }
    }

    .card-x.rejected {
        justify-content: center;
        align-items: center;

        svg.icon-rejected {
            width: rem(48px);
            height: rem(48px);

            path {
                fill: $color-red-attention;
            }
        }
    }
}
