.main-header {
    .tablet & {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    &.fade-bg {
        background: rgba($color-black, 0.9);
    }

    .fade-menu-bg {
        position: absolute;
        top: 0;
        margin: rem(94px) auto 0 auto;
        width: 100%;
        max-width: rem(1328px);
        height: calc(100% - rem(94px));
        z-index: 1;
        backdrop-filter: blur(10px);
        background: rgba($color-black, 0.9);

        .tablet & {
            margin-top: rem(60px);
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        gap: rem(4px);
        padding: $semantic-padding-xs;
        align-items: center;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: $semantic-padding-l $semantic-padding-xl;
    }

    &__fullscreen {
        display: flex;

        &_button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            border: unset;
            cursor: pointer;
            border-radius: $semantic-radius-s;

            @include button-sizes(
                ($semantic-padding-s $semantic-padding-m),
                $font-set-label-s-medium,
                $semantic-label-s-scale,
                $semantic-gap-xs
            );
            @include button-color-states(
                ($semantic-content-secondary, transparent, $semantic-border-accent-tertiary),
                ($semantic-content-secondary-hover, transparent, $semantic-border-accent-tertiary),
                ($semantic-content-secondary-pressed, $semantic-surface-accent-tertiary, transparent)
            );

            .tablet & {
                padding: rem(12px);
                border-radius: rem(12px);
                min-width: rem(100px);
            }
        }
    }

    &__connection {
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
        height: rem(32px);
        box-sizing: border-box;
        position: relative;
        border-radius: $semantic-radius-s;
        margin-left: auto;

        @include button-sizes(($semantic-padding-s), $font-set-label-s-medium, $semantic-label-m-line-height, 2px);
        @include element-variant($semantic-content-secondary, transparent, $semantic-border-accent-tertiary);

        &.hidden {
            visibility: hidden;
        }

        &_info {
            & .connection_status {
                display: flex;
                justify-content: center;

                svg {
                    width: rem(6px);
                    height: rem(2px);
                }

                &.waiting {
                    svg path {
                        fill: $semantic-content-warning-primary;
                    }
                }

                &.connected {
                    svg path {
                        fill: $semantic-content-success-primary;
                    }
                }
            }

            .tablet & {
                background: unset;
                display: none;
            }
        }
    }

    &__menu {
        margin-left: auto;

        &.hidden {
            visibility: hidden;
        }

        .button__icon {
            background-color: transparent;
            padding: $semantic-padding-xs;
            border-radius: $semantic-radius-s;

            &:hover {
                background-color: $semantic-surface-tertiary-hover;
            }

            &:active {
                background-color: $semantic-surface-tertiary-pressed;
            }

            svg {
                width: rem(20px);
                height: rem(20px);
            }
        }
    }

    &__menu-tiles {
        padding: rem(10px) rem(24px) rem(24px) rem(24px);

        .tablet & {
            margin-top: rem(72px);
            height: calc(100% - rem(72px));
        }

        &_container {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            width: rem(324px);
            margin: 0 auto;

            .tablet & {
                margin: 0 0 0 auto;
            }

            .icon-button {
                flex-direction: column;
                margin: rem(1px);
                width: rem(106px);
                height: rem(106px);
                background-color: $color-main-bg;

                &.wide {
                    width: rem(160px);
                }

                svg {
                    path {
                        fill: $color-white;
                    }
                }
            }
        }
    }

    &__account-selector {
        &_group {
            display: flex;
            flex-direction: column;
            max-height: rem(450px);
            margin: rem(16px) rem(8px);
            padding: rem(16px);
            border-radius: rem(12px);
            border: 1px solid $color-grey-3;
            background: $color-grey-1;

            .tablet & {
                max-width: rem(655px);
                margin-left: auto;
                margin-right: auto;
            }
        }

        &_search-form {
            display: flex;

            .form-search {
                width: 100%;

                .form-input__field {
                    height: rem(32px);
                    padding: rem(10px);
                    padding-left: rem(32px);
                    border-radius: rem(12px);
                    border-color: $color-grey-3;
                    background-color: unset;

                    &::placeholder {
                        font-family: $t-font-family-satoshi;
                        font-weight: $t-font-weight-medium;
                        font-size: 12px;
                        line-height: 16px;
                        color: $color-grey-4;
                    }
                }

                svg {
                    position: absolute;
                    top: rem(8px);
                    left: rem(8px);

                    path {
                        fill: $color-grey-4;
                    }
                }
            }

            .button__base.button__icon.text {
                height: rem(32px);
                min-width: rem(90px);
                padding: rem(8px) rem(12px);
                margin-left: rem(8px);
                border-radius: rem(12px);
                text-wrap: nowrap;
                background-color: $color-grey-2;

                &:hover {
                    opacity: 1;
                    background-color: $color-main-bg-hover;
                }

                .label__main {
                    color: $color-white;
                    margin-left: auto;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        &_list {
            display: flex;
            flex-direction: column;
            overflow: auto;
            margin-top: rem(8px);

            &::-webkit-scrollbar {
                display: none;
            }

            &-item {
                display: flex;
                padding: rem(12px) 0;
                align-items: center;
                border: unset;
                border-bottom: 1px solid $color-grey-3;
                background: none;

                &:last-child {
                    border-bottom: none;
                }

                .text__additional_small {
                    color: $color-white;
                }

                &.active {
                    .account {
                        .text__additional_small {
                            color: $color-mineral-1;
                        }

                        svg {
                            display: unset;
                        }
                    }
                }

                &.suspend::before {
                    content: '';
                    border: rem(4px) solid $color-red-attention;
                    border-radius: 50%;
                    position: absolute;
                    transform: translate(rem(-12px), 0);
                }

                .account {
                    display: flex;
                    align-items: center;
                    min-width: rem(150px);

                    .text__additional_small {
                        text-align: left;
                    }

                    svg {
                        display: none;
                        margin-right: rem(4px);
                    }
                }

                .balance {
                    display: flex;
                    align-items: center;
                    width: rem(110px);

                    svg {
                        height: rem(10px);
                        width: rem(10px);
                        margin-left: rem(4px);

                        path {
                            fill: $color-white;
                        }
                    }
                }

                .earning {
                    height: rem(16px);
                    width: rem(16px);
                    margin-left: auto;

                    svg {
                        height: rem(16px);
                        width: rem(16px);

                        path {
                            fill: $color-white;
                        }
                    }
                }

                .copy {
                    margin-left: auto;
                }

                .tokens {
                    flex: 1;
                    display: flex;
                    gap: rem(1px);
                    width: unset;
                    min-width: rem(100px);
                    justify-content: flex-end;

                    .token-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: rem(24px);
                        height: rem(24px);
                        border-radius: rem(5px);
                        background-color: $color-main-bg;

                        img {
                            max-width: rem(24px);
                            max-height: rem(24px);
                        }
                    }
                }
            }
        }
    }

    &.scroll-border {
        border-bottom: 1px solid $color-grey-3;
    }
}
