.fullscreen-prompt-layout {
    position: relative;
    height: calc(100% - $main-layout-header-height);

    &__main {
        padding: rem(10px);
        height: calc(100% - $account-page-details-height);
        overflow: overlay;
    }
}
