.fullscreen-prompt-layout {
    position: relative;
    padding: rem(10px);
    height: 100%;

    &__main {
        overflow: overlay;
        height: 100%;
    }

    &__close {
        position: absolute;
        top: rem(1px);
        right: 0;
    }
}
