.id-card {
    position: relative;
    border-radius: rem(10px);
    border: rem(1px) solid $color-cta;
    width: rem(196px);
    height: rem(117px);
    overflow: hidden;
    background-color: $color-bg;
    color: $color-text;

    &--pending {
        border-color: $color-grey;
    }

    &--rejected {
        border-color: $color-salmon;
    }

    &__header {
        background-color: $color-cta;
        font-size: rem(11px);
        text-align: center;
        color: $color-white;
        height: rem(30px);
        display: flex;
        align-items: center;
        justify-content: center;

        .id-card--pending & {
            background-color: $color-grey;
        }

        .id-card--rejected & {
            background-color: $color-salmon;
        }
    }

    &__header-status-icon {
        position: absolute;
        left: rem(7px);
        display: flex;

        svg {
            &:first-child {
                height: rem(15px);
            }

            &:last-child {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
                width: rem(10px);
            }
        }
    }

    &__edit-button {
        position: absolute;
        right: rem(10px);
        margin-top: rem(2px);

        svg {
            height: rem(10px);

            path {
                fill: $color-off-white;
            }
        }

        &:disabled {
            svg {
                opacity: 0.3;
            }
        }
    }

    &__name,
    &__status,
    &__stamp {
        z-index: 1;
    }

    &__name {
        text-align: center;
        position: relative;
        font-size: rem(14px);
        height: calc(100% - rem(30px));
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto rem(10px);
    }

    &__status {
        position: absolute;
        bottom: rem(10px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(12px);
        font-weight: $font-weight-light;

        .id-card--confirmed &,
        .id-card--rejected & {
            color: $color-grey;
        }
    }

    &__stamp {
        position: absolute;
        bottom: 0;
        right: 0;
        width: rem(40px);
        transform: translate(5%, 10%);

        .id-card--rejected & {
            bottom: rem(1px);
        }

        .id-card--confirmed & {
            width: rem(50px);
            bottom: rem(-9px);
            right: rem(-10px);

            svg {
                opacity: 0.5;
            }

            path {
                fill: $color-cta;
            }
        }

        circle {
            fill: $color-bg;
        }
    }

    &__name-form,
    &__name-field {
        max-width: 100%;
    }

    &__name-form {
        position: relative;
        display: inline-flex;
        align-items: center;
        max-width: calc(100% - rem(50px));
    }

    &__name-field {
        font-weight: inherit;
        margin-bottom: 0;
    }

    &__name-edit {
        position: absolute;
        right: rem(-5px);
        transform: translateX(100%);
        width: auto;
        display: flex;

        svg {
            width: rem(12px);

            &,
            & * {
                fill: $color-cta;
            }
        }
    }
}
