.setup {
    &__theme {
        margin-bottom: 10px;
    }

    &__field {
        display: block;
        width: 100%;

        &:not(:first-of-type) {
            margin-top: 10px;
        }
    }

    &__submit {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}
