.onboarding-setup {
    &__intro-wrapper {
        padding: rem(10px);
        text-align: center;
        height: 100%;

        &__continue-button {
            position: absolute;
            bottom: rem(24px);
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: $color-cta-mainnet;
        }

        &__logos {
            display: flex;
            flex-direction: row;
            margin-top: rem(10px);
            margin-left: rem(22px);
            margin-right: rem(22px);
        }

        &__logo {
            height: rem(50px);

            path {
                fill: $color-text;
            }
        }

        &__concordium-letters {
            margin-left: rem(15px);

            path {
                fill: $color-text;
            }
        }

        &__description {
            margin-top: rem(36px);
        }
    }

    &__page-with-header {
        padding: rem(10px);
        text-align: center;
        height: calc(100% - #{rem($page-header-height)});

        &__description {
            margin-top: rem(25px);
            margin-bottom: rem(25px);
        }

        &__choose-passcode {
            text-align: left;
            padding: rem(10px);

            &__field {
                display: block;
                width: 100%;

                &:not(:first-of-type) {
                    margin-top: rem(10px);
                }
            }

            a {
                text-decoration: underline;
            }
        }

        &__continue-button {
            position: absolute;
            bottom: rem(24px);
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: $color-cta-mainnet;
        }

        &__create-restore-button {
            margin: 0 auto;
            margin-bottom: rem(12px);
            background-color: $color-cta-mainnet;
        }

        textarea {
            height: rem(110);
            padding: rem(10px);
        }

        &__mainnet-button {
            background-color: $color-cta-mainnet;
            margin: 0 auto;
            margin-bottom: rem(12px);
        }

        &__testnet-button {
            background-color: $color-cta-othernet;
            margin: 0 auto;
            margin-bottom: rem(12px);
        }
    }

    &__recovery {
        &__results {
            text-align: left;
        }

        &__button {
            min-height: rem(30px);
            margin-top: auto;
            margin-bottom: rem(10px);
        }

        &__identity {
            padding: rem(10px) 0;
            margin-top: rem(10px);

            &:not(:last-child) {
                border-bottom: rem(2px) solid $color-petroleum;
            }
        }
    }
}
