.account-cooldowns {
    &__item {
        margin-top: rem(8px);

        .capture__main_small {
            opacity: 0.5;
            color: $color-mineral-3;

            &:not(:first-child) {
                margin-top: rem(6px);
            }
        }
    }

    &__cooldown {
        flex: 1;
        justify-content: space-between;
    }

    &__em {
        opacity: 1 !important;
        color: $color-white;
    }
}
