$transaction-receipt-horizontal-padding: rem(20px);

.transaction-receipt {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-bg;
    border: rem(1px) solid $color-grey;
    border-radius: rem(10px);
    padding: rem(10px) $transaction-receipt-horizontal-padding;

    h5 {
        margin-bottom: 0;
    }

    &__hash,
    &__title {
        width: calc(100% + 2 * $transaction-receipt-horizontal-padding);
        text-align: center;
        margin: 0;
    }

    &__title {
        border-bottom: rem(0.5px) solid $color-grey;
        padding-bottom: rem(5px);
    }

    &__address {
        flex-wrap: wrap;
        word-break: break-all;
        font-size: rem(8px);
    }

    &__cost {
        margin-top: rem(10px);

        p {
            color: $color-text-faded;
            font-size: rem(8px);
            margin: 0;
            text-align: center;
        }
    }

    &__parameter {
        word-break: break-all;
        white-space: pre-wrap;
        margin: 0;
        flex-grow: 1;
        background-color: $color-input-bg;
        border: rem(0.5px) solid $color-grey;
        padding: rem(8px);
    }

    &__hash {
        color: $color-text-faded;
        border-top: rem(0.5px) solid $color-grey;
        padding-top: rem(5px);
        font-size: rem(8px);
        margin-top: rem(10px);
    }

    &__module-ref {
        width: rem(180px);
        overflow-wrap: break-word;
    }
}
