{
    "extends": ["stylelint-config-standard-scss", "stylelint-prettier/recommended"],
    "plugins": ["stylelint-scss"],
    "rules": {
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "no-descending-specificity": null,
        "selector-pseudo-class-no-unknown": null,
        "selector-class-pattern": null,
        "value-keyword-case": null
    }
}
