.token-details {
    display: block;
    width: 100%;
    background-color: $color-bg;
    padding: rem(10px);
    position: relative;
    overflow: overlay; // Not having this makes the box only as big as it's parent container. Ideally, this would grow as big as its content

    &__close {
        position: absolute;
        top: rem(7px);
        right: rem(7px);
    }

    &__header {
        display: flex;
        align-items: center;
        margin-top: 0;
        padding-right: rem(20px);

        img {
            max-height: rem(20px);
            margin-right: rem(5px);
        }
    }

    &__line {
        & + & {
            margin-top: rem(10px);
        }
    }

    &__line-header {
        font-size: 12px;
        color: $color-text-faded;
        margin-bottom: rem(2px);
    }

    &__image {
        display: block;
        margin-top: rem(10px);
        border-top: 1px solid $color-lines;
        padding: rem(15px) rem(25px) rem(5px);
    }
}
