.page-header {
    display: flex;
    align-items: center;
    height: rem(40px);
    width: 100%;
    padding-bottom: rem(1px);

    &__icon {
        position: relative;
        flex: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: rem(10px);
        margin-right: rem(14px);
        padding-right: rem(14px);

        &::after {
            display: block;
            content: '';
            width: rem(2px);
            height: 80%;
            background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgb(196 196 196 / 0%) 100%);
            position: absolute;
            right: 0;
            transform: translateX(50%);

            .dark & {
                background: radial-gradient(50% 50% at 50% 50%, #fff 0%, rgb(196 196 196 / 0%) 100%);
            }
        }
    }

    &__logo,
    &__back-icon {
        path {
            fill: $color-text;
        }
    }

    &__logo {
        width: rem(23px);
    }

    &__back-icon {
        margin: 0 rem(7px); // center compared to &__logo
        width: rem(9px);
    }

    &__title {
        margin: 0;
    }

    &__progress-bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 1px;
        margin-top: rem(5px);
        background-color: $color-text;
    }

    &__progress-bar-point {
        height: rem(6px);
        width: rem(6px);
        background-color: $color-bg;
        border: 1px solid $color-text;
        border-radius: 50%;
        position: relative;
        transform: translateY(-50%);

        &--completed {
            background-color: $color-text;
        }
    }
}
