.recovery-phrase-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: rem(32px);

    .recovery-phrase {
        &__title {
            display: flex;
            flex-direction: column;

            .capture__main_small {
                margin-top: rem(12px);
                padding-right: rem(24px);
            }
        }

        &__card {
            display: flex;
            flex-wrap: wrap;
            border-radius: rem(12px);
            border: 1px solid $color-grey-4;
            background-color: $color-transaction-bg;
            padding: rem(12px);
            margin-top: rem(24px);

            .label__regular {
                background-color: $color-main-bg;
                margin: rem(4px);
                padding: rem(3px) rem(4px) rem(5px) rem(4px);
                border-radius: rem(4px);
            }
        }

        .button-main {
            margin-top: auto;
        }
    }
}
