@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(359deg);
    }
}

.identity-issuance {
    &__start {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 rem(10px);

        &-text {
            margin-top: rem(40px);
            margin-bottom: rem(60px);
        }

        &__loading-arrows {
            height: rem(40px);
            width: rem(40px);
            transform-origin: center;
            animation: spin 1s;
            animation-iteration-count: infinite;
        }
    }

    &__end {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card {
        margin-top: rem(50px);
    }

    &__start-text,
    &__text {
        white-space: pre-line;
        text-align: center;
    }

    &__button {
        margin-top: rem(85px);
    }

    &__provider-button {
        color: $color-text;
        background-color: $color-bg;
        border: rem(1px) solid $color-cta;
        margin-top: rem(10px);

        &:hover {
            &:not(:disabled) {
                color: $color-text;
                box-shadow: inset 0 0 rem(10px) rem(15px) rgb($color-hover / 15%);
            }
        }
    }
}
