.restore-result-x {
    .card-x.gradient {
        margin-top: rem(16px);

        .card-x.grey {
            .row {
                justify-content: unset;

                .text__main_medium {
                    width: 100%;

                    .account-link {
                        width: 100%;
                        display: flex;

                        .capture__main_small {
                            margin-left: unset;
                            color: $color-white;
                            margin-right: auto;
                        }

                        .button__icon {
                            margin-left: rem(16px);
                        }
                    }
                }
            }
        }
    }
}
