.web3-id-proof-request {
    &__statement-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__actions {
        margin: auto rem(20px) 0;
    }

    &__loading-icon {
        max-height: rem(20px);
    }

    &__credential-statement-container {
        margin-bottom: rem(20px);
    }
}

.display-box {
    border-radius: 16px;
    box-shadow: 0px 0px 15px 0px #0000001A;

    &__header {
        background: linear-gradient(91.35deg, #B6DADF 13.38%, #DAECEF 93.45%);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        height: 48px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
   }

    &__tooltip-icon {
        height: 24px;
    }
}

.display-reveal-statements {

    &__line {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

}
