.intro {
    .page__main {
        align-items: center;
    }

    .full-logo {
        position: absolute;
        margin-top: rem(-48px);
    }

    .text__main_medium {
        position: absolute;
        margin-top: rem(-12px);
        color: $semantic-content-secondary;
    }

    .landing-img {
        margin-top: rem(28px);
    }

    .heading_medium {
        margin-top: rem(26px);
        font-size: $semantic-heading-m-scale;
        line-height: rem(25px);
        color: $semantic-content-primary;
    }

    .text__main_regular {
        margin-top: rem(8px);
        color: $semantic-content-accent-secondary;
    }
}

.welcome {
    .page__main {
        align-items: center;
        margin-left: rem(-8px);
        margin-right: rem(-8px);
    }

    .full-logo {
        position: absolute;
        margin-top: rem(-48px);
    }

    .text__main_medium {
        position: absolute;
        margin-top: rem(-12px);
        color: $semantic-content-secondary;
    }

    .landing-img {
        margin-top: rem(28px);
    }

    .heading_medium {
        margin-top: rem(26px);
        font-size: $semantic-heading-m-scale;
        line-height: rem(25px);
        color: $semantic-content-primary;
    }

    .text__main_regular {
        margin-top: rem(8px);
        color: $semantic-content-accent-secondary;
    }

    .capture__main_small {
        margin-top: rem(20px);
        color: $semantic-content-secondary;
    }
}

.setup-password {
    &__title {
        display: flex;

        .text__main_regular {
            font-size: $semantic-label-s-scale;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: rem(8px);
        height: 100%;
        margin-top: rem(24px);
    }
}

.create-or-restore {
    .page__main {
        gap: rem(24px);
    }

    .button__ui-kit_tertiary {
        position: absolute;
        top: rem(61px);
        right: rem(24px);
    }

    .split-separator {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: rem(191px);
        margin: auto;

        .capture__main_small {
            color: $semantic-content-secondary;
            line-height: $semantic-label-s-line-height;
        }

        &::before,
        &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid $semantic-content-secondary;
            border-radius: $semantic-radius-rounded;
            margin: 0 $semantic-gap-l;
        }
    }
}

.select-network {
    .card-x .row {
        align-items: center;
        justify-content: space-between;

        .button__secondary {
            svg {
                margin-left: rem(2px);

                circle {
                    fill: $color-green-success;
                }
            }
        }
    }
}

.onboarding-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: rem(32px);
    white-space: break-spaces;
}
