$horizontal-spacing: rem(10px);
$error-spacing: rem(13.286px);

.create-transfer {
    &__cost,
    &__pick-token-element,
    &__token-picker,
    &__input {
        width: calc(100% - rem(50px));
        margin: 0 rem(25px) calc($error-spacing + rem(1px)) rem(25px);

        &.form-input--invalid {
            margin-bottom: rem(1px);
        }
    }

    &__button {
        margin-top: auto;
        margin-bottom: $horizontal-spacing;
    }

    &__token-picker {
        margin-top: $horizontal-spacing;
    }

    &__pick-token {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: overlay;
    }

    &__token-picker,
    &__pick-token {
        .ccd-icon {
            width: rem(20px);
        }
    }

    &__pick-token-element:last-child {
        margin-bottom: $horizontal-spacing;
    }

    &__pick-token-element:first-child {
        margin-top: $horizontal-spacing;
    }

    &__cost {
        margin-bottom: $error-spacing;

        > p {
            margin: 0 rem(6px);
            color: $color-text-faded;
            font-size: rem(8px);
        }

        &--error {
            margin-bottom: 0;

            > p {
                color: $color-error;
            }
        }
    }
}

.display-token,
.token-picker-button {
    border: rem(1px) solid $color-cta;
    border-radius: rem(5px);
    padding: rem(5px);
    background: $color-bg;

    &__balance {
        font-size: 10px;
        color: $color-text-faded;
    }

    &__token-display-container {
        display: flex;
        align-items: center;
        height: rem(20px);
        position: relative;
    }

    &__token-display {
        height: rem(20px);
        width: rem(30px);
        flex: 0 0 rem(30px);
        margin-right: rem(5px);
        object-fit: contain;
    }

    &__details {
        width: calc(100% - #{rem(35px)}); // subtract max-width + margin of &__token-display.
        text-align: left;
    }
}

.token-picker-button {
    width: 100%;

    &__details {
        width: calc(100% - #{rem(60px)}); // additional room for search icon.
    }

    &__search-icon {
        height: rem(16px);
        position: absolute;
        right: 0;

        path {
            fill: $color-text;
        }
    }
}
