.send-ccd {
    &__create-transfer {
        &__input {
            width: calc(100% - rem(50px));
            margin: rem(5px) rem(25px) rem(13.286px) rem(25px);

            &.form-input--invalid {
                margin-bottom: 0;
            }
        }

        &__button {
            margin-bottom: rem(10px);
            margin-top: auto;
        }
    }
}
