.web3-id-card-x {
    &.card-x.grey {
        padding: rem(8px) rem(0) rem(0) rem(0);
        border: rem(1px) solid $color-input-border;

        .row:not(.details) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(0) rem(14px) rem(8px) rem(14px);

            .text__main_medium {
                color: $color-mineral-2;
                margin-left: rem(8px);
            }

            .capture__additional_small {
                margin-left: auto;
                color: $color-green-success;
            }
        }

        .row.details {
            margin: rem(0) rem(14px) rem(8px) rem(14px);
            padding: rem(0) rem(0) rem(8px) rem(0);
        }
    }

    svg, img {
        width: rem(16px);
        height: rem(16px);

        object-position: center;
        object-fit: contain;
    }

    &__top {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__status {
        color: $color-grey-4;

        &--success {
            color: $color-green-success;
        }

        &--error {
            color: $color-red-attention;
        }
    }
}
