.transaction-details-x {
    .card-x .row {
        display: flex;
        flex-direction: column;

        .transaction-details__card_row {
            display: flex;
            flex-direction: column;

            .capture__main_small {
                color: $color-mineral-3;
            }

            .label__main {
                color: $color-white;
            }

            .top-info {
                display: flex;
                justify-content: space-between;

                &:first-child {
                    margin-bottom: rem(7px);
                }

                .capture__main_small {
                    .time {
                        color: $color-mineral-1;
                    }
                }

                .label__main.income {
                    color: $color-green-success;
                }
            }

            .secondary-info {
                display: flex;
                flex-direction: column;
                word-break: break-word;

                .capture__main_small {
                    color: $color-mineral-3;

                    &.title-secondary {
                        margin-top: rem(6px);
                        color: $color-mineral-0;
                    }
                }
            }
        }
    }
}
