$display-statement-color-success: $color-cta;
$display-statement-color-invalid: $color-grey;

.display-statement {
    display: block;
    border: 1px solid $display-statement-color-success;
    border-radius: rem(5px);

    &--invalid {
        border-color: $display-statement-color-invalid;
    }

    &__header {
        padding: rem(5px);
        border-radius: rem(4px) rem(4px) 0 0;
        background-color: $display-statement-color-success;
        color: $color-off-white;
        display: flex;
        justify-content: space-between;
        font-size: rem(8px);

        .display-statement--invalid & {
            background-color: $display-statement-color-invalid;
        }
    }

    &__header-icon {
        height: rem(15px);
    }

    &__line {
        display: flex;
        width: 100%;
        align-items: baseline;

        > * {
            flex: 0 0 auto;
        }
    }

    &__line-separator {
        flex: 1;
        border-bottom: dotted $color-grey 1px;
        margin: 0 rem(5px);
    }

    &__reveal-description {
        font-size: rem(8px);
        padding: 0 rem(5px) rem(5px);
    }

    &__tooltip-icon {
        height: rem(10px);
    }
}
