.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: auto;

    &--align-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &--align-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--stable-scrollbar-gutter {
        scrollbar-gutter: stable;
    }

    &__content {
        position: relative;
        width: 90%;
        max-width: rem(500px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(20px);
        margin: rem(30px) auto;
        border: 1px solid $color-cta;
        border-radius: rem(5px);
        text-align: center;
        background-color: $color-bg;

        &--error {
            border-color: $color-error;
        }
    }

    &__close {
        position: absolute;
        top: rem(8px);
        right: rem(8px);
    }
}
