.register-delegator-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: rem(32px);

    .register-delegator {
        &__token-card {
            margin-top: rem(16px);
            background: $gradient-card-bg;
            border-radius: rem(16px);
            padding: rem(20px) rem(16px);
            margin-bottom: rem(8px);

            .token {
                margin-bottom: rem(12px);

                .token-available {
                    display: flex;
                    margin-top: rem(12px);
                    justify-content: space-between;
                }
            }

            .amount {
                padding: rem(24px) 0 rem(8px) 0;
                border-top: 1px solid rgba($color-black, 0.1);
                border-bottom: 1px solid rgba($color-black, 0.1);

                .amount-selected {
                    display: flex;
                    margin-top: rem(8px);
                    justify-content: space-between;
                    align-items: center;

                    .capture__additional_small {
                        border-radius: rem(4px);
                        padding: rem(4px);
                        background-color: $secondary-button-bg;
                    }
                }
            }

            .estimated-fee {
                display: flex;
                flex-direction: column;
                margin-top: rem(4px);
            }

            .text__main_regular,
            .text__main_small,
            .capture__additional_small {
                color: $color-black;
            }

            .heading_big {
                color: $color-grey-1;
            }

            .capture__main_small {
                color: $color-grey-3;
            }
        }

        &__pool-info {
            border-radius: rem(12px);
            padding: rem(8px) rem(16px);
            background-color: rgba($color-grey-3, 0.3);
            margin-bottom: rem(8px);

            &_row {
                display: flex;
                justify-content: space-between;
                padding: rem(8px) 0;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-3;
                }

                .capture__main_small:last-child {
                    color: $color-white;
                }
            }
        }

        &__reward {
            border-radius: rem(12px);
            padding: rem(16px);
            background-color: rgba($color-grey-3, 0.3);
            margin-bottom: rem(8px);

            &_auto-add {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(12px);

                .text__main {
                    color: $color-white;
                }
            }
        }
    }
}
