.main-layout-header {
    height: rem(40px);
    position: relative;
    z-index: 1;

    &__bar,
    &__nav {
        background-color: $color-bg;
        border-bottom: 1px solid $color-petroleum;
    }

    &__bar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        position: absolute;
        left: rem(10px);
        display: flex;

        svg {
            width: rem(23px);

            path {
                fill: $color-text;
                @include transition(fill);

                .main-layout-header--nav-open & {
                    fill: $color-blue;
                }
            }
        }
    }

    &__page-dropdown-button {
        display: flex;
        position: absolute;
        right: rem(-5px);
        transform: translate(100%, rem(1px)) rotate(-90deg);

        svg {
            width: rem(6px);

            path {
                fill: $color-text;
            }
        }

        &--open {
            transform: translate(100%, rem(1px)) rotate(90deg);
        }
    }

    &__close {
        position: absolute;
        right: rem(15px);
        display: flex;

        svg {
            width: rem(12px);

            path {
                fill: $color-text;
            }
        }
    }

    &__page-dropdown,
    &__nav {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    &__nav {
        padding: 0 rem(15px);
        text-align: center;
    }

    &__nav-item {
        display: block;
        color: $color-text;
        text-decoration: none;
        font-size: rem(14px);
        padding: rem(10px) 0;

        &:not(.main-layout-header__nav-item--active) {
            font-weight: $font-weight-light;
        }

        &--active {
            &:hover {
                color: $color-text;
            }
        }

        svg {
            width: rem(11px);
            transform: translateX(100%);
            position: absolute;
            right: rem(-5px);

            path {
                fill: $color-text;
            }
        }
    }
}
