.transaction-list {
    &__container {
        background-color: $color-bg;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__scroll {
        position: relative;
        max-height: none;
        height: 100%;
        width: 100%;

        &__infinite {
            overflow: overlay !important;
        }

        &__transaction-group-header-placeholder {
            opacity: 0;
        }

        &__transaction-group-header {
            height: rem(20px);
            font-size: rem(8px);
            color: $color-transaction-group-header-text;
            padding-left: rem(5px);
            line-height: rem(12px);
            display: flex;
            align-items: center;
            background-color: $color-transaction-group-header;
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
}

.transaction-element {
    position: relative;
    padding: 0 rem(16px) 0 rem(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: rem(0.5px) solid transparent;
    height: rem(42px);

    &__clickable {
        &:hover {
            cursor: pointer;
            background-color: $color-highlight;
        }
    }

    & + & {
        border-top-color: grey;
    }

    &__no-transactions {
        color: $color-text-faded;
        background-color: $color-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    &__amount {
        margin: 0;

        &__greenText {
            color: $color-success;
        }
    }

    &__text-faded {
        color: $color-text-faded;
        font-size: rem(9px);
    }

    &__checkmark {
        position: relative;
        top: rem(1px);
        margin-left: rem(3px);
    }

    &__warning {
        position: absolute;
        margin: rem(5px) rem(-22px);

        :global(.warning_svg__boundary) {
            fill: $color-error;
        }
    }

    &__failed {
        padding-left: rem(30px);
    }
}

.transaction-details {
    background-color: $color-bg;
    width: 100%;
    height: 100%;
    overflow: overlay;

    &__header {
        height: rem(20px);
        font-size: rem(8px);
        color: $color-transaction-group-header-text;
        padding-left: rem(5px);
        line-height: rem(12px);
        display: flex;
        align-items: center;
        background-color: $color-transaction-group-header;
        top: 0;
        position: sticky;
        z-index: 1;
    }

    &__close {
        top: 0;
        right: rem(10px);
        position: absolute;
    }

    &__item {
        height: rem(50px);
        padding-top: 0;
        padding-bottom: 0;
    }

    &__dynamic-height-item,
    &__item {
        position: relative;
        padding-left: rem(8px);
        padding-right: rem(8px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: rem(0.5px) solid transparent;
        border-top-color: $color-grey;
        word-break: break-all;
    }

    &__dynamic-height-item {
        height: auto;
        padding-top: rem(5px);
        padding-bottom: rem(5px);
        min-height: rem(50px);
    }

    &__title {
        color: $color-text-faded;
    }
}
