@keyframes pulsate {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-page-x {
    gap: $semantic-gap-xl;

    &.rejected-account {
        .heading_medium {
            color: $color-red-attention;
        }
    }

    &.page-container {
        height: 100%;

        &:not(.create-account) {
            padding-bottom: unset;
        }
    }

    &__balance {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(4px);

        &_info {
            display: flex;

            .info-icon {
                height: rem(12px);
                margin-left: rem(2px);
                cursor: pointer;

                .tooltip-x_text.top {
                    top: rem(26px);
                    left: rem(-189px);

                    &::after {
                        left: calc(100% - #{rem(32px)});
                    }
                }
            }
        }

        .heading_large {
            font-family: $t-font-family-ibm;
        }

        .available-balance.text__main_regular {
            font-family: $t-font-family-ibm;
            line-height: $semantic-label-s-line-height;
            color: $semantic-content-accent-tertiary;
        }
    }

    &__pending {
        display: flex;
        gap: $semantic-gap-s;
        align-items: center;
        padding: $semantic-padding-m $semantic-padding-l $semantic-padding-m $semantic-padding-m;
        border-radius: $semantic-radius-m;
        background-color: transparent;
        outline: 1px solid $semantic-border-tertiary;

        .pending-icon {
            display: flex;
            padding: rem(10px);
            border-radius: $semantic-radius-rounded;
            background-color: $semantic-surface-primary-a10;

            svg {
                width: rem(20px);
                height: rem(20px);
                animation: unset;

                path {
                    fill: $semantic-content-warning-primary;
                }
            }
        }

        .text__main {
            font-weight: $t-font-weight-medium;
            line-height: $semantic-label-l-line-height;
            color: $semantic-content-primary;
        }

        svg {
            margin-left: auto;
            height: rem(11px);
            width: rem(11px);
            animation: pulsate 4s linear infinite;

            circle {
                fill: $semantic-content-warning-primary;
            }
        }
    }

    &__action-buttons {
        display: flex;
        align-items: stretch;
        width: 100%;
        gap: rem(4px);

        .suspend::before {
            content: '';
            border: rem(4px) solid $color-red-attention;
            border-radius: 50%;
            position: relative;
            top: 0;
            right: -50%;
            transform: translate(rem(-10px), rem(-8px));
            margin-bottom: rem(-16px);
        }
    }

    &__tokens {
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(4px);
            padding-bottom: rem(32px);

            &_item {
                display: flex;
                align-items: center;
                padding: $semantic-padding-m;
                border: unset;
                border-radius: $semantic-radius-m;
                cursor: pointer;

                @include surface-states-tertiary;

                .token-icon {
                    display: flex;
                    padding: $semantic-padding-s;
                    margin-right: rem(10px);
                    border-radius: $semantic-radius-s;
                    background: $semantic-surface-primary-a10;

                    svg,
                    img {
                        width: rem(24px);
                        height: rem(24px);
                    }
                }

                .token-balance {
                    display: flex;
                    flex-direction: column;
                    gap: rem(8px);
                    width: 100%;

                    &__amount,
                    &__exchange-rate {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        align-items: center;

                        .capture__main_small {
                            line-height: $semantic-label-s-line-height;
                            color: $semantic-content-accent-secondary;
                        }

                        .token-status {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: rem(4px);

                            .token-plt {
                                display: flex;
                                gap: rem(4px);
                                align-items: center;

                                .capture__main_small {
                                    font-weight: $t-font-weight-medium;
                                }

                                svg {
                                    margin: unset;
                                }
                            }
                        }
                    }

                    .label__main {
                        font-size: $semantic-label-l-scale;
                        line-height: $semantic-label-l-line-height;
                        color: $semantic-content-primary;
                    }

                    .balance-rate {
                        display: flex;
                        flex-direction: column;
                        gap: rem(4px);
                        margin-left: auto;
                    }

                    svg {
                        margin-left: rem(8px);
                        width: rem(12px);
                        height: rem(12px);

                        path {
                            fill: $semantic-content-accent-secondary;
                        }
                    }
                }
            }

            .button__ui-kit_tertiary {
                align-self: center;
                margin-top: rem(12px);
            }
        }
    }

    &__suspended-earn-info {
        display: flex;
        gap: rem(8px);
        flex-direction: column;
        position: absolute;
        bottom: rem(26px);
        left: 50%;
        transform: translateX(-50%);

        &_button {
            display: flex;
            justify-content: center;
            gap: rem(8px);
            width: rem(300px);
            align-items: center;
            padding: rem(12px) rem(14px) rem(12px) rem(12px);
            border: unset;
            border-radius: rem(12px);
            background: $color-red-attention;
            cursor: pointer;
            backdrop-filter: blur(5px);
            box-shadow: 0 -6px 15.3px 0 rgba($color-black, 0.25);

            .capture__main_small {
                color: $color-white;
            }

            svg path {
                fill: $color-white;
            }
        }
    }
}

.container__cta {
    display: flex;
    position: relative;
    border-radius: $semantic-radius-m;
    outline: 1px solid $semantic-border-tertiary;
    outline-offset: -1px;

    &:hover {
        background-color: $semantic-surface-tertiary-hover;
        outline-color: $semantic-border-tertiary-hover;
    }

    &:active {
        background-color: $semantic-surface-tertiary-pressed;
        outline-color: $semantic-border-tertiary-pressed;
    }

    .button__homepage-cta {
        @include base-button;

        display: flex;
        align-items: center;
        padding: $semantic-padding-m rem(44px) $semantic-padding-m $semantic-padding-m;
        gap: $semantic-gap-s;
        background: transparent;
        border: unset;
        border-radius: $semantic-radius-m;

        .icon-container {
            display: flex;
            padding: rem(10px);
            border-radius: $semantic-radius-rounded;
            background-color: $semantic-surface-primary-a10;

            svg {
                width: rem(20px);
                height: rem(20px);
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            gap: $semantic-gap-xs;

            .text__main_medium {
                font-size: $semantic-label-l-scale;
                line-height: $semantic-label-l-line-height;
                color: $semantic-content-primary;
            }

            .capture__main_small {
                font-size: $semantic-label-s-scale;
                line-height: $semantic-label-s-line-height;
                color: $semantic-content-secondary;
            }
        }
    }

    .cancel-button {
        @include base-button;

        display: flex;
        position: absolute;
        right: $semantic-gap-l;
        top: 50%;
        transform: translateY(-50%);
        border: unset;
        padding: unset;
        background-color: transparent;
        margin: unset;

        svg {
            width: rem(20px);
            height: rem(20px);

            path {
                fill: $semantic-content-primary-a40;
            }
        }
    }
}

.cta_modal {
    gap: $semantic-gap-s;

    .text__main {
        color: $semantic-content-inverse-primary;
        line-height: rem(22px);
        letter-spacing: $heading-heading-l-letter-spacing;
    }

    .text__main_regular {
        color: $semantic-content-inverse-primary;
        line-height: rem(19px);
        white-space: break-spaces;
        margin-bottom: rem(22px);
    }
}
