.main-page-x {
    &.page-container {
        height: 100%;
        padding-bottom: unset;
    }

    &__balance {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .heading_large {
            font-family: $t-font-family-ibm;
        }
    }

    &__action-buttons {
        display: flex;
        align-items: stretch;
        width: 100%;
        gap: rem(6px);
        margin-top: rem(16px);

        .send svg {
            transform: rotate(-90deg);
        }

        .receive svg {
            transform: rotate(90deg);
        }
    }

    &__tokens {
        margin-top: rem(24px);
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(4px);
            padding-bottom: rem(32px);

            &_item {
                display: flex;
                align-items: center;
                padding: rem(12px) rem(14px) rem(12px) rem(12px);
                border: unset;
                border-radius: rem(12px);
                background: $color-transaction-bg;
                cursor: pointer;

                .token-icon {
                    display: flex;
                    padding: rem(10px);
                    margin-right: rem(10px);
                    border-radius: rem(8px);
                    background: $color-main-bg;

                    svg,
                    img {
                        width: rem(20px);
                        height: rem(20px);
                    }
                }

                .token-balance {
                    display: flex;
                    flex-direction: column;
                    gap: rem(8px);
                    width: 100%;

                    &__amount,
                    &__exchange-rate {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        align-items: center;

                        .capture__main_small {
                            color: rgba($color-mineral-3, 0.5);
                        }
                    }

                    .label__main {
                        color: $color-white;
                    }

                    .balance-rate {
                        display: flex;
                        flex-direction: column;
                        gap: rem(8px);
                        margin-left: auto;
                    }

                    svg {
                        margin-left: rem(8px);
                        opacity: 0.5;
                        width: rem(16px);
                        height: rem(16px);

                        path {
                            fill: $color-mineral-3;
                        }
                    }
                }
            }

            .button__icon {
                align-self: flex-start;
                margin-top: rem(24px);
            }
        }
    }
}
