.connection-request-x {
    .text__main {
        color: $semantic-content-accent-secondary;
    }

    .white {
        color: $semantic-content-primary;
    }

    .capture__main_small {
        margin-top: rem(24px);
    }
}
