.submitted-tx {
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(16px);
        padding: rem(24px) 0 rem(36px) 0;
        border: 1px solid rgba($color-grey-4, 0.4);
        border-radius: rem(12px);

        .capture__main_small {
            color: $color-white;
        }

        .heading_large {
            margin: rem(8px) 0;
        }

        svg {
            margin-bottom: rem(30px);
        }
    }

    &__details {
        display: flex;
        justify-content: center;
        margin-top: rem(24px);

        .label__regular {
            color: $color-white;
            margin-right: rem(8px);
        }
    }
}
