.submitted-tx {
    padding-top: rem(50px);

    &__card {
        align-items: center;
        padding: rem(24px) !important;

        .capture__main_small {
            color: $color-white;
        }

        .heading_large {
            margin: rem(8px) 0;
            color: $color-white;
        }

        .heading_large + .capture__main_small {
            color: $color-mineral-1;
        }

        svg {
            width: rem(52px);
            height: rem(52px);
            padding: rem(2px);
        }

        svg,
        .loader-x {
            margin-bottom: rem(32px);
        }
    }

    &__details-btn {
        margin-top: rem(24px);
    }

    &__failed-icon {
        & path {
            fill: $color-red-attention !important;
        }
    }
}
