.send-transaction-x {
    .text__main {
        color: $semantic-content-accent-secondary;
        line-height: 18px;
        font-weight: $t-font-weight-medium;

        &_medium {
            color: $color-white;
        }

        .white {
            color: $color-white;
        }
    }

    .card-x.grey {
        margin-top: rem(16px);
        margin-bottom: rem(32px);

        .row.details:has(+ .parameter-x) {
            border: unset;
        }
    }

    #toggle-collapse {
        display: none;
    }

    .collapse-trigger {
        cursor: pointer;

        svg {
            width: 12px;
            height: 12px;
            transform: scale(2) translateY(1px);
            margin-left: rem(8px);

            path {
                fill: $color-mineral-3;
            }
        }
    }

    .page__main:has(#toggle-collapse:checked),
    .row.details:has(#toggle-collapse:checked) {
        .operations-list {
            max-height: unset;
        }

        .collapse-trigger svg {
            transform: scale(2) translateY(1px) rotate(180deg);
        }
    }

    .operations-list {
        display: flex;
        overflow: hidden;
        max-height: 0;
        flex-direction: column;
        gap: rem(12px);

        .card-x.grey {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &.single-transaction-token-update {
        .page__top {
            margin-bottom: unset;
        }

        .collapse-trigger {
            color: $color-grey-main;
            margin-bottom: rem(16px);

            svg {
                transform: scale(2) translateY(1px);
                margin-left: rem(8px);

                path {
                    fill: $color-grey-main;
                }
            }
        }

        .card-x {
            .row {
                &.amounts {
                    justify-content: space-between;
                    border-bottom: unset;
                    padding-bottom: unset;

                    .text__main_medium {
                        color: $semantic-content-accent-secondary;
                    }

                    .text__additional_small {
                        color: $semantic-content-primary;
                        line-height: 15px;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: $semantic-gap-m;
                        align-items: flex-start;
                    }
                }
            }

            &.grey {
                margin-bottom: rem(24px);
            }

            &.gradient {
                margin-top: rem(24px);

                .text__main {
                    color: $semantic-content-inverse-primary;
                    line-height: 120%;
                    font-weight: $t-font-weight-bold;
                }

                .text__main_regular {
                    color: $semantic-content-inverse-primary;
                    line-height: 120%;
                    font-size: 16px;
                }

                .divider {
                    width: 100%;
                    margin-top: rem(4px);
                    margin-bottom: rem(12px);
                    border-bottom: 1px solid $semantic-border-inverse-primary-a10;
                }

                .row {
                    padding: unset;
                    align-items: baseline;
                    gap: rem(12px);
                    border-bottom: unset;
                }
            }
        }

        .page__footer {
            flex-direction: row;
        }
    }
}
