$element-border-radius: rem(5px);

.add-tokens {
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: rem(15px) rem(10px);
    }

    &__element {
        padding: rem(10px);
        display: flex;
        background-color: $color-bg;

        &:not(:last-of-type) {
            border-bottom: rem(1px) solid $color-lines;
        }

        &:first-child {
            border-top-left-radius: $element-border-radius;
            border-top-right-radius: $element-border-radius;
        }

        p {
            margin: 0;
            margin-left: rem(10px);
        }
    }

    &__input {
        margin-bottom: rem(10px);
    }

    &__add-token {
        display: flex;
        justify-content: space-around;
        margin: 0 rem(-10px) rem(10px);
    }

    &__submit {
        margin-top: auto;
    }

    &__token-display {
        max-height: rem(20px);
        max-width: rem(20px);
    }

    &__token-container {
        display: flex;
        flex-direction: column;
        background-color: $color-bg;
        flex-grow: 1;
        margin-bottom: rem(5px);
        border: rem(1px) solid $color-lines;
        border-radius: $element-border-radius;
        overflow-y: overlay;
        overflow-x: hidden;
    }
}
