.tokens {
    &__add {
        &__container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-top: rem(15px);
            padding-bottom: rem(15px);
        }

        &__element {
            padding: rem(10px);
            display: flex;
            border-bottom: rem(1px) solid $color-lines;

            p {
                margin: 0;
                margin-left: rem(10px);
            }
        }

        &__add-token {
            display: flex;
        }

        &__token-display {
            max-height: rem(20px);
            max-width: rem(20px);
        }
    }
}
