.account-transaction-flow {
    padding: rem(10px) 0 rem(10px) rem(16px);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background-color: $color-bg;
    height: 100%;
    white-space: break-spaces;
    scrollbar-gutter: stable;
    overflow: overlay;

    &__header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(20px);
    }

    &__back {
        position: absolute;
        left: 0;
    }
}
