.entity-list {
    &__top {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        height: rem(25px);
        border: 1px solid $color-blue;
        @include transition(grid-template-columns);

        &--search-focus {
            grid-template-columns: auto rem(25px);
        }

        > * {
            height: 100%;
        }
    }

    &__search,
    &__new-entity {
        padding: 0 rem(10px);
        @include transition(box-shadow);

        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 1px $color-blue;
        }
    }

    &__search {
        border: none;
        border-right: 1px solid $color-blue;

        &:focus {
            outline: none;
        }
    }

    &__new-entity {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__new-entity-text {
        white-space: nowrap;
        @include transition(opacity);

        .entity-list__search:focus + .entity-list__new-entity & {
            opacity: 0;
        }
    }

    &__new-entity-icon {
        position: absolute;
        right: rem(12.5px);
        transform: translateX(50%);
    }

    &__submit {
        display: none;
    }
}

.entity-list-item {
    display: block;
    margin: 0 rem(15px);
    padding: rem(7px) 0;

    &:not(:last-of-type) {
        border-bottom: 1px dotted $color-blue;
    }

    input[type='radio'] {
        opacity: 0;
        position: absolute;
    }
}
