.transaction-list {
    &__container {
        background-color: $color-bg;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__scroll {
        position: relative;
        max-height: none;
        height: 100%;
        width: 100%;
    }
}

.transaction-element {
    position: relative;
    padding: 0 20px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0.5px solid transparent;
    height: 58px;

    &:focus {
        outline: none;
    }

    & + & {
        border-top-color: grey;
    }

    &VariableHeight {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__no-transactions {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__amount {
        margin: 0;
    }

    &__text-faded {
        color: $color-text-faded;
        font-size: rem(9px);
    }

    &__checkmark {
        position: relative;
        top: 1px;
        margin-left: 5px;
    }
}

.clickableElement {
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 2px blue;
    }
}

.failedElement {
    padding-left: 30px;
}

.strikedThrough {
    text-decoration: line-through;
}

.warning {
    position: absolute;
    margin: 5px -25px;

    :global(.warning_svg__boundary) {
        fill: red;
    }
}

.checkmark {
    position: relative;
    top: 1px;
    margin-left: 5px;
}

.greenText {
    color: green;
}

.transactionGroupHeaderPlaceholder {
    opacity: 0;
}

.transactionGroupHeader {
    height: rem(15px);
    font-size: rem(8px);
    color: $color-blue;
    padding-left: rem(5px);
    line-height: 12px;
    display: flex;
    align-items: center;
    background-color: $color-light-blue;
    position: sticky;
    top: 0;
    z-index: 1;
}

.infinite {
    overflow: overlay !important;
}
