@mixin when-invalid {
    &--invalid {
        @content;
    }
}

.form-input {
    @include when-invalid {
        .form-input__field {
            border-color: red;
        }
    }

    &__label {
        font-weight: bold;
        margin-bottom: rem(5px);
    }

    &__field {
        width: 100%;
    }

    &__note,
    &__error {
        margin-top: rem(5px);
    }

    &__note {
        color: grey;
    }
}

.form-error-message {
    color: red;
}
