@mixin when-invalid {
    &--invalid {
        @content;
    }
}

@mixin when-valid {
    &--valid {
        @content;
    }
}

.form-input {
    position: relative;
    display: block;

    &__label {
        font-size: rem(6px);
        color: $color-text;
        font-weight: $font-weight-light;
        position: absolute;
        left: rem(6px);
        top: rem(4px);
    }

    &__field {
        background-color: $color-bg;
        font-size: rem(10px);
        color: $color-text;
        height: rem(32px);
        border: rem(1px) solid $color-grey;
        border-radius: rem(5px);
        padding: rem(10px) rem(5px) rem(5px);
        width: 100%;
        outline: none;
        transition: border-color $transition-timing $transition-easing;

        &:focus {
            border-color: $color-blue;
        }
    }

    @include when-valid {
        .form-input__field:where(:focus) {
            border-color: $color-success;
        }
    }

    @include when-invalid {
        .form-input__field {
            border-color: $color-error;
        }
    }

    &__note,
    &__error {
        position: relative;
        left: rem(6px);
        font-size: rem(6px);
        margin-top: rem(4px);
    }

    &__note {
        color: grey;
    }
}

.form-password {
    position: relative;

    &__reveal {
        position: absolute;
        top: rem(16px);
        right: rem(10px);
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
            width: rem(15px);

            g,
            path {
                fill: $color-text;
            }
        }
    }
}

.form-error-message {
    color: $color-error;
}
