.account-page {
    &__select-account {
        display: block;
        width: 100%;
    }

    &__address {
        margin-top: rem(10px);
        word-break: break-all;
    }

    &__transaction-list {
        background-color: $color-bg;
        border-top: 1px solid #325d76;
        height: 290px;
    }
}
