$log-height-max: calc(100vh - 2px);

.account-page {
    &__select-account {
        display: block;
        width: 100%;
    }

    &__address {
        margin-top: rem(10px);
        word-break: break-all;
    }

    &__transaction-element-list {
        background-color: $color-bg;
        border-top: 1px solid #325d76;
        height: 291px;

        &__scroll {
            position: relative;
            max-height: none;
            height: 291px;
            overflow: overlay;
        }
    }
}
