.account-settings-page,
.connected-sites-list,
.export-private-key-page,
.account-statement-page {
    min-height: 100%;
    width: 100%;
    background-color: $color-bg;
}

.account-statement-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: rem(20px) rem(10px);
    text-align: center;
    white-space: break-spaces;
}

.account-settings-page {
    padding: 0 rem(10px);
    display: block;

    &__link {
        display: block;
        padding: rem(10px) 0;
    }
}

.connected-sites-list {
    padding-left: rem(14px);
    padding-right: rem(14px);
    overflow: overlay;

    &__element {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: rem(10px);
        padding-bottom: rem(10px);

        &__connect {
            cursor: pointer;
            color: $color-dark-green;
        }

        &__disconnect {
            cursor: pointer;
            color: $color-blue;
        }
    }

    & > *:not(:last-child) {
        border-bottom: rem(1px) solid $color-petroleum;
    }
}

.export-private-key-page {
    padding-left: rem(19px);
    padding-right: rem(19px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__description {
        text-align: center;
        margin-top: rem(10px);
    }

    &__button {
        margin: 0 auto rem(24px);
        background-color: $color-cta;
    }

    &__export-button {
        margin: 0 auto;
    }

    &__form {
        display: contents;
    }

    textarea {
        height: rem(55px);
        padding: rem(10px);
    }

    &__copy {
        position: absolute;
        bottom: rem(5px);
        right: rem(5px);
    }
}
