.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: rem(32px);
    white-space: break-spaces;

    .page {
        &__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: $semantic-gap-s;

            &_side {
                display: flex;
                margin-left: auto;
                gap: rem(2px);
            }
        }

        &__main {
            display: flex;
            flex-direction: column;
        }

        &__footer {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            gap: rem(8px);
        }
    }
}
