.external-request-layout {
    position: relative;
    height: calc(100% - $main-layout-header-height);
    background-color: $color-bg;

    &__main {
        height: calc(100% - $account-page-details-height);
        overflow: overlay;
    }
}
