.sign-message-x {
    .text__main {
        color: $color-mineral-2;
        margin-bottom: rem(24px);

        .white {
            color: $color-white;
        }
    }

    .binary-display-x {
        margin-bottom: rem(24px);
    }
}
