.tooltip-x {
    position: relative;

    &:hover {
        .tooltip-x_text {
            visibility: visible;
        }
    }

    &_text {
        display: flex;
        flex-direction: column;
        gap: rem(6px);
        visibility: hidden;
        background-color: $semantic-surface-primary;
        text-wrap: nowrap;
        text-align: left;
        border-radius: $semantic-radius-s;
        padding: $semantic-padding-m;
        position: absolute;
        z-index: 1;
        left: -108px;
        top: 28px;
        box-shadow: 0 4px 8px 0 #00000040;

        &::after {
            content: '';
            position: absolute;
            border-left: 8px solid $semantic-surface-primary;
            border-right: 6px solid $semantic-surface-primary;
            border-top: 8px solid $semantic-surface-primary;
            border-bottom: 6px solid $semantic-surface-primary;
            border-top-left-radius: 1px;
        }

        &.top {
            top: 100%;

            &::after {
                top: -7px;
                left: 50%;
                transform: rotate(45deg) skew(10deg, 10deg);
            }
        }

        &.bottom {
            top: unset;
            left: unset;

            &::after {
                top: 90%;
                left: 50%;
                transform: rotate(225deg) skew(10deg, 10deg);
            }
        }

        .text__main_medium,
        .capture__main_small {
            color: $semantic-content-inverse-primary;
        }
    }
}
