.verifiable-credential-list {
    height: calc(100% - 56px);
    background-color: $color-bg;
    overflow-y: auto;
}

.verifiable-credential {
    color: $color-white;
    border-radius: rem(16px);
    background: #148f9d;
    margin-left: rem(16px);
    margin-right: rem(16px);
    margin-bottom: rem(16px);

    &:not(:first-child) {
        margin-top: rem(16px);
    }

    box-shadow: rgb(99 99 99 / 20%) rem(0) rem(2px) rem(8px) rem(0);
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        height: 62px;

        &__logo {
            flex-shrink: 0;
            margin-left: rem(11px);
            width: rem(28px);
            height: rem(28px);

            svg {
                path {
                    fill: $color-white;
                }
            }
        }

        &__title {
            font-size: rem(10px);
            margin-left: rem(7px);
        }

        &__status {
            display: flex;
            font-size: rem(8px);
            color: $color-white;
            margin-right: rem(11px);
            margin-left: auto;
            align-items: center;

            svg {
                margin-left: rem(5px);
            }

            path {
                fill: $color-white;
            }
        }
    }

    &__body-attributes {
        padding: rem(11px);

        &-row {
            &:not(:last-child) {
                margin-bottom: rem(10px);
            }

            label {
                color: $color-white;
                opacity: 0.5;
                font-size: rem(9px);
                font-variant: small-caps;
                display: block;
            }

            &-value {
                display: block;
                font-size: rem(10px);
                font-weight: $font-weight-light;
            }
        }
    }
}
