.verifiable-credential {
    border-radius: rem(8px);
    background: #f4bb5c;
    padding: rem(10px);
    margin: rem(10px);
    box-shadow: rgb(99 99 99 / 20%) rem(0) rem(2px) rem(8px) rem(0);
    position: relative;

    &__header-logo {
        position: absolute;
        left: rem(10px);
        top: rem(10px);
        width: rem(20px);
    }

    &__header-title {
        position: absolute;
        left: rem(35px);
        top: rem(10px);
        width: rem(100px);
    }

    &__header-status {
        position: absolute;
        right: rem(10px);
        top: rem(10px);
    }

    &__body-attributes {
        margin-top: rem(30px);

        &-row {
            margin-bottom: rem(6px);

            label {
                font-variant: small-caps;
                display: block;
            }

            &-value {
                display: block;
                font-weight: $font-weight-bold;
            }
        }
    }
}
