.onramp {
    .page__top {
        margin-bottom: $semantic-gap-xl;
    }

    .page__main {
        display: flex;
        flex-direction: column;
        gap: $semantic-gap-xl;

        .card-x.transparent {
            .heading_medium,
            .capture__main_small {
                color: $semantic-content-secondary;
            }
        }
    }

    .description-section {
        display: flex;
        flex-direction: column;
    }

    .text__description {
        text-align: center;
        color: $semantic-content-accent-secondary;

        &.underline {
            text-decoration: underline;
        }
    }

    .text__disclaimer {
        text-align: justify;
    }

    .text__main {
        word-wrap: break-word;
        margin-top: rem(24px);
        margin-bottom: rem(16px);
        color: $color-grey-1;
    }

    &_providers {
        display: flex;
        flex-direction: column;
        gap: $semantic-gap-xs;
    }

    .button__on-ramp-option {
        @include base-button;

        display: flex;
        align-items: center;
        gap: $semantic-gap-s;
        border: unset;
        border-radius: $semantic-radius-l;
        padding: $semantic-padding-m $semantic-padding-l $semantic-padding-m $semantic-padding-m;
        background-color: $semantic-surface-tertiary;

        .icon-container {
            width: rem(40px);
            height: rem(40px);

            svg {
                width: inherit;
                height: inherit;
            }
        }

        .external-link-icon {
            width: rem(24px);
            height: rem(24px);
            margin-left: auto;

            svg {
                width: inherit;
                height: inherit;

                path {
                    fill: $semantic-content-primary-a40;
                }
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .text__main_medium {
                color: $semantic-content-primary;
                font-size: $semantic-label-l-scale;
                line-height: $semantic-label-l-line-height;
            }
        }

        &:hover {
            background-color: $semantic-surface-tertiary-hover;
        }

        &:active {
            background-color: $semantic-surface-tertiary-pressed;
            outline: 1px solid $semantic-border-tertiary-pressed;
            outline-offset: -1px;
        }
    }
}
