.token-details-x {
    &__stake {
        display: flex;
        justify-content: space-between;
        margin-top: rem(12px);
        margin-bottom: rem(16px);
        padding-top: rem(12px);
        border-top: 1px solid rgba($color-white, 0.1);

        &_group {
            display: flex;
            flex-direction: column;

            .capture__additional_small {
                color: $color-white;
            }
        }
    }

    &__action-buttons {
        display: flex;
        align-items: stretch;
        width: 100%;
        gap: rem(4px);
        margin-top: rem(12px);

        .send svg {
            transform: rotate(-90deg);
        }

        .receive svg {
            transform: rotate(90deg);
        }
    }

    .card-x {
        margin-top: rem(16px);
    }

    .button__icon.text {
        margin-top: rem(12px);
        align-self: flex-start;

        &:last-child {
            .label__main {
                color: $color-red-attention;
            }

            svg path {
                fill: $color-red-attention;
            }
        }
    }
}
