@import 'mixins';
@import 'functions';
@import 'colors';
@import 'typography';
@import 'transition';
@import 'spacing';

// Temporary workaround to wrap all new classes
// Should be removed on new design release
html.popup-x,
body.light.popup-x,
body.dark.popup-x {
    @import 'base';
    @import 'elements';
}
