$color-black: #000;
$color-white: #fff;
$color-grey-1: #151819;
$color-grey-2: #212526;
$color-grey-3: #2b3133;
$color-grey-4: #71797e;
$color-mineral-0: #46656c;
$color-mineral-1: #6c88aa;
$color-mineral-2: #9daec3;
$color-mineral-3: #d7e3ef;
$color-green-success: #24d4ab;
$color-green-toggle: #149e7e;
$color-orange-info: #e8b126;
$color-red-attention: #cd2e4a;
$color-blue: #2f869b;
$color-input-bg: rgba($color-grey-3, 0.3);
$color-input-border: rgba($color-grey-4, 0.3);
$color-transaction-bg: rgba($color-grey-3, 0.3);
$color-bg: #101010;
$color-main-bg: rgba($color-white, 0.07);
$color-main-bg-hover: rgba($color-white, 0.15);
$secondary-button-bg: rgba(#1c3a41, 0.07);
$color-tooltip-bg: #f8f6f5;
$gradient-header-button-bg: linear-gradient(rgb(255 255 255 / 50%), rgb(255 255 255 / 50%)),
    radial-gradient(200% 380% at -10% -50%, rgb(158 242 235) 0%, rgb(164 154 227) 100%);
$gradient-card-bg: linear-gradient(0deg, rgb(255 255 255 / 70%), rgb(255 255 255 / 70%)),
    radial-gradient(90% 210% at 10% 20%, #9ef2eb 0%, #eddabf 26.56%, #9d99b6 100%);
$gradient-balance-bg: radial-gradient(
    96.79% 220.2% at 0% 0%,
    rgb(158 242 235 / 90%) 0%,
    rgb(237 218 191 / 90%) 50%,
    rgb(164 154 227 / 90%) 100%
);

// Semantic colors from unified design system

// Primary Button
$semantic-surface-primary: #fff;
$semantic-surface-primary-hover: #d7e3ef;
$semantic-surface-primary-pressed: #d0d4d6;
$semantic-surface-primary-disabled: #2f3437;
$semantic-content-inverse-primary: #131416;
$semantic-content-primary-disabled: #4b5357;

// Secondary Button
$semantic-surface-secondary: #4b5357;
$semantic-surface-secondary-hover: #78858b;
$semantic-surface-secondary-pressed: #4b5357;
$semantic-surface-secondary-disabled: $semantic-surface-primary-disabled;
$semantic-content-primary: #fff;
$semantic-content-primary-disabled: #4b5357;

// Surface
$semantic-border-accent-secondary: #b6c9e2;
$semantic-border-tertiary: #4b5357;
$semantic-content-secondary: #959ea3;
$semantic-content-accent-secondary: #b6c9e2;
$semantic-surface-success-tertiary: #0c261d;
$semantic-border-success-secondary: #007050;
$semantic-content-success-primary: #24d4ab;
$semantic-surface-warning-tertiary: #282418;
$semantic-border-warning-secondary: #a17716;
$semantic-content-warning-primary: #e8b126;
$semantic-surface-error-tertiary: #2b171b;
$semantic-border-error-secondary: #830e30;
$semantic-content-error-primary: #d62e4c;
