// Padding
$semantic-padding-xl: rem(24px);
$semantic-padding-l: rem(16px);
$semantic-padding-m: rem(12px);
$semantic-padding-s: rem(8px);
$semantic-padding-xs: rem(6px);

// Gap
$semantic-gap-xl: rem(24px);
$semantic-gap-l: rem(16px);
$semantic-gap-m: rem(12px);
$semantic-gap-s: rem(8px);
$semantic-gap-xs: rem(6px);

// Radius
$semantic-radius-rounded: 500px;
$semantic-radius-xl: rem(24px);
$semantic-radius-l: rem(16px);
$semantic-radius-m: rem(12px);
$semantic-radius-s: rem(8px);
$semantic-radius-xs: rem(6px);
