@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

$t-font-family-ibm: 'IBM Plex Sans', sans-serif;
$t-font-family-satoshi: 'Satoshi', sans-serif;
$t-font-weight-light: 200;
$t-font-weight-regular: 300;
$t-font-weight-medium: 400;
$t-font-weight-semi-bold: 500;
$t-font-weight-bold: 600;

html.popup-x {
    font-size: 14px;

    &.ui-scale-medium {
        font-size: 14px;
    }

    &.ui-scale-large {
        font-size: 14px;
    }
}

.heading {
    &_large {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 40px;
        line-height: 48px;
    }

    &_big {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 32px;
        line-height: 32px;
        color: $color-grey-1;
    }

    &_medium {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 24px;
        line-height: 32px;
        color: $color-white;
    }
}

.text {
    &__main {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-bold;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;

        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 12px;
            line-height: 14px;
            color: $color-white;
        }

        &_regular {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-regular;
            font-size: 14px;
            line-height: 16px;
            color: $color-mineral-2;
        }

        &_medium {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 14px;
            line-height: 16px;
            color: $color-mineral-3;
        }
    }

    &__additional {
        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 12px;
            line-height: 16px;
            color: $color-black;
        }
    }
}

.capture {
    &__main {
        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-regular;
            font-size: 12px;
            line-height: 16px;
            color: $color-mineral-2;
        }
    }

    &__additional {
        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 12px;
            line-height: 16px;
            color: $color-mineral-2;
        }
    }
}

.label {
    &__main {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 15px;
        line-height: 16px;
    }

    &__regular {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-regular;
        font-size: 15px;
        line-height: 16px;
        color: $color-mineral-3;
    }
}
