@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

$t-font-family-ibm: 'IBM Plex Sans', sans-serif;
$t-font-family-satoshi: 'Satoshi', sans-serif;
$t-font-weight-light: 300;
$t-font-weight-regular: 400;
$t-font-weight-medium: 500;
$t-font-weight-semi-bold: 600;
$t-font-weight-bold: 700;

// Semantic text sizing from unified design system

// Scale (size)
$semantic-heading-xl-scale: 'TBD';
$semantic-heading-l-scale: 'TBD';
$semantic-heading-m-scale: 20px;
$semantic-heading-s-scale: 'TBD';
$semantic-heading-xs-scale: 'TBD';
$semantic-label-xl-scale: 'TBD';
$semantic-label-l-scale: 16px;
$semantic-label-m-scale: 14px;
$semantic-label-s-scale: 12px;
$semantic-label-xs-scale: 'TBD';
$semantic-body-xl-scale: 'TBD';
$semantic-body-l-scale: 'TBD';
$semantic-body-m-scale: 14px;
$semantic-body-s-scale: 'TBD';
$semantic-body-xs-scale: 'TBD';

// Line height
$semantic-label-xl-line-height: 'TBD';
$semantic-label-l-line-height: 18px;
$semantic-label-m-line-height: 16px;
$semantic-label-s-line-height: 15px;
$semantic-label-xs-line-height: 14px;

// Spacing
$heading-heading-l-letter-spacing: 0.2px;
$semantic-label-xl-letter-spacing: 'TBD';
$semantic-label-l-letter-spacing: 'TBD';
$semantic-label-m-letter-spacing: 'TBD';
$semantic-label-s-letter-spacing: 0;
$semantic-label-xs-letter-spacing: 'TBD';

// Font Sets
$font-set-label-s-medium: (
    $t-font-weight-medium,
    $semantic-label-s-scale,
    $semantic-label-s-line-height,
    $semantic-label-s-letter-spacing
);

html.popup-x {
    font-size: 14px;

    &.ui-scale-medium {
        font-size: 14px;
    }

    &.ui-scale-large {
        font-size: 14px;
    }
}

.heading {
    &_large {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 40px;
        line-height: 48px;
    }

    &_big {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 32px;
        line-height: 32px;
        color: $color-grey-1;
    }

    &_medium {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 24px;
        line-height: 32px;
        color: $color-white;
        letter-spacing: $heading-heading-l-letter-spacing;
    }
}

.text {
    &__main {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-bold;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;

        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 12px;
            line-height: 14px;
            color: $color-white;
        }

        &_regular {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-regular;
            font-size: 14px;
            line-height: 16px;
            color: $color-mineral-2;
        }

        &_medium {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 14px;
            line-height: 16px;
            color: $color-mineral-3;
        }
    }

    &__additional {
        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 12px;
            line-height: 16px;
            color: $color-black;
        }
    }
}

.capture {
    &__main {
        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-regular;
            font-size: 12px;
            line-height: 16px;
            color: $semantic-content-accent-secondary;
        }
    }

    &__additional {
        &_small {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-medium;
            font-size: 12px;
            line-height: 16px;
            color: $semantic-content-accent-secondary;
        }
    }
}

.label {
    &__main {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-medium;
        font-size: 15px;
        line-height: 16px;
    }

    &__regular {
        font-family: $t-font-family-satoshi;
        font-weight: $t-font-weight-regular;
        font-size: 15px;
        line-height: 16px;
        color: $color-mineral-3;
    }
}
