@mixin when-invalid {
    &--invalid {
        @content;
    }
}

@mixin when-valid {
    &--valid {
        @content;
    }
}

.form-input {
    position: relative;
    display: block;

    &:not(:last-of-type) {
        margin-bottom: rem(8px);
    }

    &__field {
        background-color: $semantic-surface-tertiary;
        height: rem(58px);
        border: rem(1px) solid $semantic-surface-tertiary;
        border-radius: $semantic-radius-m;
        padding: rem(26px) rem(11px) rem(11px);
        width: 100%;
        outline: none;
        font-size: $semantic-body-m-scale;
        font-weight: $t-font-weight-regular;
        color: $semantic-content-primary;

        /* override base style, remove after release */
        transform: unset;

        /* override base style, remove after release */
        @include transition(border-color);

        &::placeholder {
            font-family: $t-font-family-satoshi;
            font-weight: $t-font-weight-regular;
            font-size: $semantic-body-m-scale;
            color: $semantic-content-primary-a40;
        }

        &:hover {
            background-color: $semantic-surface-tertiary-hover;
            border-color: $semantic-border-tertiary-hover;
        }

        &:focus {
            background-color: $semantic-surface-tertiary-pressed;
            border-color: $semantic-border-tertiary-selected;
        }

        &:disabled {
            background-color: $semantic-surface-primary-disabled;
            border-color: $semantic-surface-primary-disabled;

            &::placeholder {
                color: $semantic-content-primary-disabled;
            }
        }

        // Hide the buttons to increment/decrement
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    &__area {
        background-color: transparent;
        color: $color-white;
        border: unset;
    }

    &__checkbox {
        display: flex;
        flex-direction: row;

        label {
            margin-top: auto;
            margin-bottom: auto;
        }

        input {
            &[type='checkbox'] {
                display: flex;
                align-items: center;
                justify-content: center;
                width: rem(24px);
                height: rem(24px);
                min-width: rem(24px);
                min-height: rem(24px);
                margin: 0;
                appearance: none;
                background-color: $color-grey-2;
                color: $color-white;
                border: 1px solid $color-white;
                border-radius: rem(6px);

                &::before {
                    content: '';
                    width: rem(14px);
                    height: rem(14px);
                    border-radius: rem(3px);
                    transform: scale(0);
                    transition: 60ms transform ease-in-out;
                    box-shadow: inset rem(14px) rem(14px) $color-white;
                }

                &:checked::before {
                    transform: scale(1);
                }

                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    &__label {
        pointer-events: none;
        position: absolute;
        left: rem(12px);
        top: rem(8px);
        color: $semantic-content-secondary;
        font-size: $semantic-label-s-scale;
        line-height: $semantic-label-s-line-height;
        font-weight: $t-font-weight-medium;

        &.disabled {
            color: $semantic-content-primary-disabled;
        }
    }

    &__seed-phrase-x {
        margin-bottom: rem(16px);

        .card-x.grey {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            min-height: rem(215px);
            margin-top: rem(24px);
            border: rem(1px) solid $color-input-border;
            cursor: text;

            &:focus-within {
                border-color: $color-mineral-2;
            }

            .label__regular {
                height: rem(24px);
                background-color: $color-main-bg;
                margin: rem(4px);
                padding: rem(3px) rem(4px) rem(5px) rem(4px);
                border-radius: rem(4px);
            }

            .form-input__field {
                width: auto;

                // stylelint false negative rule
                field-sizing: content;
                background: transparent;
                border: unset;
            }
        }
    }

    @include when-valid {
        .form-input__field:where(:focus) {
            border-color: $color-green-success;
        }
    }

    @include when-invalid {
        .form-input__field {
            border-color: $color-red-attention;
        }
    }

    &__error {
        left: unset;
        font-weight: $t-font-weight-regular;
        font-size: $semantic-body-m-scale;
        margin-top: rem(6px);
        white-space: break-spaces;
    }

    &__note {
        display: flex;
        align-items: center;
        gap: rem(6px);
        font-weight: $t-font-weight-regular;
        font-size: $semantic-body-m-scale;
        color: $semantic-content-accent-secondary;
        margin-top: rem(6px);
        left: unset;

        svg {
            width: $semantic-label-s-scale;
            height: $semantic-label-s-scale;

            path {
                fill: $semantic-content-accent-secondary;
            }
        }
    }
}

.form-inline-input {
    appearance: textfield;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        color: $color-grey-3;
    }

    &:read-only {
        color: inherit;
    }

    @include when-invalid {
        color: $color-red-attention !important;
    }
}

.form-password {
    position: relative;

    &__reveal {
        position: absolute;
        top: rem(19px);
        right: rem(16px);
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: unset;
        transform: unset;

        svg {
            width: rem(20px);
            height: rem(20px);

            g,
            path {
                fill: $semantic-content-secondary;
            }
        }
    }

    .form-input__note {
        color: $semantic-content-warning-primary;

        svg path {
            fill: $semantic-content-warning-primary;
        }
    }
}

.form-search {
    position: relative;

    svg {
        position: absolute;
        top: rem(20px);
        right: rem(20px);

        path {
            fill: $color-mineral-3;
        }
    }
}

$switch-height: rem(24px);
$switch-width: rem(48px);
$switch-transition: linear 0.05s;
$handle-size: rem(20px);

.form-toggle-x {
    &__root {
        input:checked + .form-toggle-x__slider {
            background-color: $color-green-toggle;
        }

        input:checked + .form-toggle-x__slider::before {
            transform: translateX(rem(24px));
        }
    }

    &__switch {
        position: relative;
        display: inline-block;
        width: rem(48px);
        height: rem(24px);

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: rem(12px);
        background-color: $color-grey-3;
        transition: 0.4s;

        &::before {
            position: absolute;
            content: '';
            height: rem(20px);
            width: rem(20px);
            left: rem(2px);
            bottom: rem(2px);
            border-radius: 50%;
            background-color: $color-white;
            transition: 0.4s;
        }
    }
}

.form-radios-x {
    &__radio {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: rem(16px);
        background-color: rgba($color-grey-3, 0.3);
        padding: rem(22px);
        border-radius: rem(8px);

        &:not(:last-of-type) {
            margin-bottom: rem(4px);
        }

        input {
            display: none;
        }

        .checkmark {
            height: rem(20px);
            width: rem(20px);
            min-height: rem(20px);
            min-width: rem(20px);
            background-color: $color-grey-2;
            border-radius: 50%;
            border: 1px solid $color-grey-4;

            &::after {
                position: relative;
                content: '';
                top: rem(2px);
                left: rem(2px);
                width: rem(14px);
                height: rem(14px);
                border-radius: 50%;
                background: $color-white;
            }
        }

        &:hover input ~ .checkmark {
            background-color: $color-grey-3;
        }

        input:checked ~ .checkmark::after {
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            display: none;
        }

        .text-container {
            display: flex;
            flex-direction: column;
        }
    }
}

.form-error-message {
    display: flex;
    align-items: center;
    gap: rem(6px);
    margin-top: rem(6px);
    color: $color-red-attention !important;

    svg path {
        fill: $color-red-attention;
    }
}
