.delegation-result-container {
    .capture__main_small {
        color: $color-white;
        word-wrap: break-word;
    }

    .delegation-result {
        &__card {
            margin-top: rem(16px);
        }
    }
}
