$add-account-page-arrow-head-size: rem(30px);

.add-account-page {
    &__blur-details {
        position: relative;
        filter: blur(rem(1px));
    }

    &__confirm-button {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &__arrow {
        position: absolute;
        margin: rem(-40px) auto;
        left: 0;
        right: 0;

        path {
            fill: $color-cta;
        }
    }
}
