.fullscreen-notice {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    &__back {
        display: flex;
        align-items: center;
        border: none;
        background: none;
        padding: unset;
        min-height: rem(32px);

        &:hover {
            background: none !important;
        }

        svg {
            width: $semantic-label-m-line-height;
            height: $semantic-label-m-line-height;

            path {
                fill: $semantic-content-primary;
            }
        }
    }

    &__content {
        padding: 0 rem(24px);
        margin: auto;
        overflow: auto;
        height: calc(100% - 7.4rem);
        max-width: rem(703px);

        &:first-child {
            height: 100%;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
