.popup-menu {
    width: 200px;
    box-shadow: 0 0 20px rgb(0 0 0 / $color-shadow-alpha);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    background-color: $color-bg;

    &__item {
        &:hover {
            background-color: rgb(0 0 0 / $color-shadow-alpha);
        }

        &:first-child {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
        }

        &:last-child {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 44px;

        &:not(:last-child) {
            border-bottom: 1px solid rgb(0 0 0 / $color-shadow-alpha);
        }

        &--disabled {
            opacity: 0.2;
        }

        &__icon {
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            path {
                fill: $color-text;
            }
        }
    }
}
