.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.inline-flex {
    display: inline-flex;
}

.inline-flex-column {
    display: inline-flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-child-fill {
    flex: 1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
