.block {
    display: block;
}

.display-contents {
    display: contents;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

$spacings: (0, 5, 10, 20);
$sides: (top, bottom, left, right);

/*
Generates spacing utility classes based on tuples above:

r-0 = right: 0;
b-10 = bottom: 1rem;
l-neg-20 = left: -2rem;
*/
@each $space in $spacings {
    @each $side in $sides {
        .#{str-slice($side, 0, 1)}-#{$space} {
            #{$side}: rem($space);
        }
        .#{str-slice($side, 0, 1)}-neg-#{$space} {
            #{$side}: -#{rem($space)};
        }
    }
}
