$line-clamps: (2, 3);

// needs an explicit width.
.clamp-1 {
    @include singleline-clamp;
}

@each $lines in $line-clamps {
    .clamp-#{$lines} {
        @include multiline-clamp($lines);
    }
}

.mono {
    font-family: $font-family-mono;
}

.text-faded {
    color: $color-text-faded;
}

.text-bold {
    font-weight: $font-weight-bold;
}

.color-cta {
    color: $color-cta;
}
