.button {
    &__main {
        display: flex;
        align-items: center;
        justify-content: center;
        border: unset;
        cursor: pointer;
        width: 100%;
        padding: rem(16px) 0;
        margin-top: auto;
        border-radius: rem(32px);
        background: $color-white;

        .tablet & {
            max-width: rem(240px);
            margin: auto;
        }
    }

    &__secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        border: unset;
        cursor: pointer;
        padding: rem(4px);
        border-radius: rem(4px);
        width: fit-content;
        background: $secondary-button-bg;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(8px);
        border-radius: rem(4px);
        border: unset;
        background-color: $color-main-bg;
        @include transition(background-color);

        &:hover:not(:disabled) {
            border-color: unset;
            background-color: $color-main-bg-hover;
        }

        svg {
            width: auto;
            height: auto;
        }
    }
}
