.id-proof-request {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__actions {
        margin: rem(15px) rem(20px) 0;
    }

    &__loading-icon {
        max-height: rem(20px);
    }
}
