$header-height: rem(56px);

.verifiable-credential-backup {
    overflow-y: auto;

    &__card {
        margin: rem(16px);
    }
}

.verifiable-credential-import {
    display: flex;
    flex-direction: column;
    height: calc(100% - $header-height);

    &__empty {
        text-align: center;
    }

    &__list {
        overflow-y: auto;
        margin-bottom: rem(10px);
    }

    &__card {
        margin: rem(16px);
    }

    &__button {
        margin: auto auto 20px;
    }
}
