$header-height: rem(56px);

.verifiable-credential-import {
    display: flex;
    flex-direction: column;
    height: calc(100% - $header-height);
    background-color: $color-bg;

    &__header {
        background-color: $color-bg;
    }

    &__empty {
        text-align: center;
    }

    &__list {
        overflow-y: auto;
        margin-bottom: rem(10px);
    }

    &__card {
        margin: rem(16px);
    }

    &__button {
        margin: auto auto 20px;
    }

    &__import {
        height: calc(100% - 32px);
        margin: 20px;
    }
}
