.account-page-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $account-page-details-height;
    font-size: rem(10px);
    font-weight: $font-weight-light;
    padding: 0 rem(40px);
    word-break: break-all;
    background-color: $color-bg;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid $color-petroleum;
    @include transition(height);

    &--expanded {
        --details-height: #{$account-page-details-height-expanded};
    }
}
