.id-proof-request-x {
    .text__main {
        color: $color-mineral-2;
        margin-bottom: rem(24px);

        .white {
            color: $color-white;
        }
    }

    &__status-prompt {
        .card-x {
            margin-top: rem(124px);
            align-items: center;
        }

        .failed-icon {
            width: rem(48px);
            height: rem(48px);

            & path {
                fill: $color-red-attention !important;
            }

        }

        .error {
            color: $color-red-attention !important;
        }
    }
}
