.external-request-layout-x {
    height: calc(100% - 2.4rem);
    overflow: hidden;
    max-width: rem(1328px);
    margin: auto;

    &__main {
        padding: rem(20px) rem(24px) 0 rem(24px);
        margin: auto;
        height: 100%;
        max-width: rem(703px);
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
