.network-settings-container {
    .network-settings {
        &__title {
            display: flex;
            align-items: baseline;
            margin-bottom: rem(18px);
        }

        &__card {
            background-color: $color-transaction-bg;
            border-radius: rem(12px);
            padding: rem(8px) rem(16px);

            &_row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: rem(8px) 0;
                border-bottom: 1px solid rgba($color-white, 0.1);

                &:last-child {
                    border-bottom: none;
                }

                .capture__additional_small {
                    display: flex;
                    align-items: center;
                    color: $color-white;
                    background-color: $color-main-bg;
                    padding: rem(4px);
                    border-radius: rem(4px);
                    cursor: pointer;

                    svg {
                        margin: 0 rem(6px) 0 rem(2px);

                        circle {
                            fill: $color-green-success;
                        }
                    }
                }
            }
        }
    }
}
