// Color definitions
$color-white: #fff;
$color-off-white: #fbfbf9;
$color-off-black: #181817;
$color-grey: #979797;
$color-bright-red: #f00;

// Derived
$color-text: $color-off-black;
$color-text-faded: $color-grey;
$color-danger: $color-bright-red;
$color-lines: $color-grey;
