@mixin with-first-last-mods() {
    &,
    &\:not-first:not(:first-child),
    &\:not-last:not(:last-child),
    &\:first:first-child,
    &\:last:last-child {
        @content;
    }
}

@mixin singleline-clamp() {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

@mixin multiline-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
