$transition-easing: ease-out;
$transition-timing: 0.2s;

@function transition($property, $timing: $transition-timing, $easing: $transition-easing) {
    @return $property $timing $easing;
}

@mixin transition($property, $timing: $transition-timing, $easing: $transition-easing) {
    transition: transition($property, $timing, $easing);
}
