$transition-easing: ease-out;
$transition-timing: 0.2s;

@function transition($property, $timing: $transition-timing, $easing: $transition-easing, $delay: 0s) {
    @return $property $timing $easing $delay;
}

@mixin transition($property, $timing: $transition-timing, $easing: $transition-easing, $delay: 0s) {
    transition: transition($property, $timing, $easing, $delay);
}
