@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

$font-family-roboto: 'Inter', sans-serif;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
