.settings-page {
    height: 100%;
    background-color: $color-bg;
    padding: 0 rem(10px);

    &__link {
        display: block;
        padding: rem(10px) 0;
    }

    &__toggle {
        position: absolute;
        width: rem(110px);
        height: rem(40px);
        bottom: rem(10px);
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        width: rem(24px);
        height: rem(24px);
    }
}
