.settings-page {
    height: 100%;
    background-color: $color-bg;
    padding: 0 rem(10px);

    &__link {
        display: block;
        padding: rem(10px) 0;

        &--button {
            width: 100%;
            text-align: left;
        }
    }

    &__toggle {
        position: absolute;
        height: rem(40px);
        bottom: rem(10px);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__sun-icon * {
        fill: $color-off-black;
    }
}
