.identity-provider-icon {
    height: rem(14px);
    width: rem(14px);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &--ledger {
        width: rem(16px);
        height: rem(16px);
        color: $color-white;

        path {
            fill: currentColor;
        }
    }
}
