.toast-x {
    visibility: hidden;
    width: fit-content;
    max-width: calc(100% - rem(32px));
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background-color: $color-white;
    color: $color-black;
    text-align: center;
    border-radius: rem(16px);
    padding: rem(10px) rem(15px);
    position: absolute;
    z-index: 4;
    bottom: rem(16px);
    backdrop-filter: blur(5px);
    box-shadow: 0 -6px 15.3px 0 rgba($color-black, 0.25);

    &__show {
        visibility: visible;
        animation: fadein-toast 0.5s;
    }

    &__fadeout {
        visibility: visible;
        animation: fadeout-toast 0.5s;
    }

    @keyframes fadein-toast {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: rem(16px);
            opacity: 1;
        }
    }

    @keyframes fadeout-toast {
        from {
            bottom: rem(16px);
            opacity: 1;
        }

        to {
            bottom: rem(16px);
            opacity: 0;
        }
    }
}

.copy-address-x,
.generic-toast-x,
.ledger-toast {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
        width: rem(24px);
        height: rem(24px);

        path {
            fill: $color-black;
        }
    }

    .copy-message,
    .generic-toast-message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(4px);
        margin-left: rem(10px);

        .label__main {
            color: $color-black;
            white-space: nowrap;
        }

        .capture__main_small {
            color: $color-black;

            &:empty {
                display: none;
            }
        }
    }

    .label__main {
        white-space: nowrap;
    }
}

.ledger-toast {
    gap: rem(10px);

    &__text {
        display: flex;
        flex-direction: column;
    }

    &.success {
        color: #007a29;

        svg path {
            fill: #007a29;
            color: #007a29;
        }
    }

    &.error {
        color: #9e0b0b;

        svg path {
            fill: #9e0b0b;
            color: #9e0b0b;
        }
    }
}
