.earn-carousel,
.earn-page {
    padding: rem(10px) rem(15px);
    background-color: $color-bg;
}

.earn-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    min-height: 100%;

    &__header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__back {
        position: absolute;
        left: 0;
    }
}

.earn-carousel {
    white-space: break-spaces;
}
