.account-list {
    &__item {
        font-weight: $font-weight-light;
    }

    &__account {
        display: flex;
        justify-content: space-between;

        .account-list__item--checked & {
            font-weight: $font-weight-bold;
        }
    }

    &__identity,
    &__amount {
        font-size: rem(8px);
    }

    &__amount {
        font-family: $font-family-mono;
    }
}
