.account-list-item {
    font-weight: $font-weight-light;

    &__account {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .account-list-item--checked & {
            font-weight: $font-weight-bold;
        }
    }

    &__identity,
    &__amount {
        font-size: rem(8px);
    }

    &__amount {
        font-family: $font-family-mono;
    }

    &__copy {
        position: absolute;
    }

    &__check {
        margin-left: rem(5px);
        width: rem(8px);

        path {
            fill: $color-text;
        }
    }
}
