.connect-accounts-request {
    width: 100%;
    margin-top: rem(8px);
    padding: rem(10px);
    padding-top: rem(0);
    background: #eaf0f5;
    border: rem(1px) solid #dae4ee;
    border-radius: rem(10px) rem(10px) 0 0;
}
