.connect-accounts-request {
    margin-top: rem(8px);
    padding: rem(10px);

    background: #EAF0F5;
    border: 1px solid #DAE4EE;
    border-radius: 10px 10px 0px 0px;
}

.connect-accounts-request-accounts {
    padding: rem(10px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    background: $color-input-bg;
    border: 1px solid #DAE4EE;
    border-top: none;
    border-radius: 0px 0px 10px 10px;

    .item:not(:last-of-type) & {
        border-bottom: 1px dotted $color-petroleum;
    }
}
