.delegator-intro-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: rem(48px);

    .capture__main_small {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
    }

    a.capture__main_small {
        text-decoration: underline;

        &:hover {
            color: $color-white;
        }
    }

    .delegator-intro {
        &__title {
            margin-bottom: rem(12px);
        }
    }
}
