.manage-token-list-x {
    .token-list-x {
        margin-top: rem(4px);
    }
}

.add-token-x {
    .form-search {
        margin-top: rem(24px);
    }

    .token-list-x {
        margin-top: rem(8px);
    }
}
