$main-layout-header-height: rem(40px);

.main-layout {
    height: 100%;
    position: relative;
    z-index: 0;

    &__main {
        overflow: overlay;
        height: calc(100% - #{$main-layout-header-height});
        position: relative;
        z-index: -1;
        @include transition(filter);

        &--blur {
            filter: blur(10px);
        }
    }

    &__header-list-item {
        font-weight: $font-weight-light;

        &__primary {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main-layout__header-list-item--checked & {
                font-weight: $font-weight-bold;
            }
        }

        &__check {
            margin-left: rem(5px);
            width: rem(8px);

            path {
                fill: $color-text;
            }
        }

        &__secondary {
            font-size: rem(8px);
        }
    }
}
