.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 0;

    &__main {
        flex: 1;
        padding: rem(10px);
        @include transition(filter);

        z-index: -1;

        &--blur {
            filter: blur(5px);
        }
    }
}
