$main-layout-header-height: rem(40px);

.main-layout {
    height: 100%;
    position: relative;
    z-index: 0;

    &__header {
        height: $main-layout-header-height;
    }

    &__main {
        height: calc(100% - #{$main-layout-header-height});
        position: relative;
        z-index: -1;
        @include transition(filter);

        &--blur {
            filter: blur(5px);
        }
    }
}
