html {
    height: 100%;
    font-size: $html-font-size; // 10px
    font-family: $font-family-roboto;

    &.ui-scale-medium {
        // >=1080
        font-size: 12px; // 120%
    }

    &.ui-scale-large {
        // >=1440
        font-size: 14px; // 140%
    }

    &.modal-open {
        overflow: hidden;
    }
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $color-bg;
    color: $color-text;
    font-size: 100%;
    font-family: $font-family-roboto;

    .modal-open & {
        overflow: hidden;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(5px);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &:not(.dark) .bg {
        background-image: url('../assets/images/bg-light.jpg');
        background-size: cover;
        background-position-x: rem(-80px);
        opacity: 0.85;
    }

    &.dark {
        --color-bg: #{$color-bg-dark};
        --color-text: #{$color-text-dark};
        --color-hover: #{$color-hover-dark};
        --color-transaction-group-header: #{$color-transaction-group-header-dark};
        --color-transaction-group-header-text: #{$color-transaction-group-header-text-dark};
        --color-main-header: #{$color-main-header-dark};

        .bg {
            background-image: url('../assets/images/bg-dark.jpg');
            background-position: rem(-119px) center;
            background-size: cover;
            opacity: 0.3;
        }
    }

    &.mainnet {
        --color-cta: #{$color-blue};
    }
}

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
    @include transition(filter);

    .modal-open & {
        filter: blur(5px);
    }
}

// Scrollbar section inspired by https://stackoverflow.com/questions/21684101/css-vertical-scrollbar-padding-left-right-in-ul-possible
::-webkit-scrollbar {
    // TODO cross-browser compatibility
    width: rem(12px);
    height: rem(12px);
}

::-webkit-scrollbar-thumb {
    // TODO cross-browser compatibility
    cursor: pointer;
    height: rem(30px);
    border: rem(4px) solid rgb(0 0 0 / 0%);
    background-clip: padding-box;
    border-radius: rem(10px);
    background-color: rgba(#aaa, 0.3);
    box-shadow: inset -1px -1px 0 rgb(0 0 0 / 5%), inset 1px 1px 0 rgb(0 0 0 / 5%);
}

a {
    @include transition(color, 0.1s);

    &,
    &:visited,
    &:active,
    &:hover {
        color: $color-text;
        text-decoration: none;
    }

    &:hover {
        color: $color-cta;
    }
}
