h1 {
    font-size: rem(14px);
    font-weight: $font-weight-light;
}

h3 {
    font-weight: $font-weight-bold;
}

.mono {
    font-family: $font-family-mono;
}

.text-faded {
    color: $color-text-faded;
}

.text-bold {
    font-weight: $font-weight-bold;
}
